.project-card {
  width: 100%;
  display: flex;
  margin-bottom: 100px;
}

.project-card.right {
  flex-direction: row-reverse;
}

.project-card.right .text-wrapper {
  margin-right: 25px;
}

.project-card .image-wrapper {
  max-width: 400px;
  position: relative;
}

.project-card .image-wrapper .project-image {
  max-width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.project-card.left .image-wrapper .front-dots {
  position: absolute;
  bottom: -20px;
  left: -15px;
  z-index: -5;
}
.project-card.left .image-wrapper .back-dots {
  position: absolute;
  top: -30px;
  right: 25%;
  z-index: -5;
}

.project-card.right .image-wrapper .front-dots {
  position: absolute;
  bottom: -20px;
  left: 30px;
  z-index: -5;
}
.project-card.right .image-wrapper .back-dots {
  position: absolute;
  top: -30px;
  right: -20px;
  z-index: -5;
}

.project-card.left .text-wrapper {
  margin-left: 25px;
}

.text-wrapper .project-title {
  font-weight: 600;
  font-size: clamp(18px, 2.5vw, 22px);
  line-height: 27px;
  margin-bottom: 10px;
  color: #212121;
}

.text-wrapper .button-wrapper {
  display: flex;
}

.button-wrapper .project-button {
  text-decoration: none;
  border: 2px solid #393e46;
  box-sizing: border-box;
  background: #fff;
  padding: 8px 10px;

  margin-right: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #393e46;
  transition: 0.5s ease-in-out;
}

.button-wrapper .project-button:hover {
  transform: scale(1.1);
  color: #0092ca;
  border-color: #0092ca;
}

.button-wrapper .project-button .button-icon {
  font-size: 18px;
  margin-left: 5px;
}

@media (max-width: 1250px) {
  .project-card .image-wrapper {
    max-width: 270px;
  }

  .project-card .image-wrapper .project-image {
    max-width: 270px;
  }
}

@media (max-width: 768px) {
  .project-card,
  .project-card.right {
    flex-direction: column;
    align-items: center;
  }
  .project-card.left .text-wrapper,
  .project-card.right .text-wrapper {
    margin: 0;
    margin-top: 30px;
  }

  .project-card .image-wrapper {
    max-width: 718px;
  }

  .project-card .image-wrapper .project-image {
    max-width: 718px;
    width: 100%;
  }

  .project-card.left .text-wrapper .project-description {
    color: #212121;
  }

  .button-wrapper {
    flex-direction: column;
  }

  .button-wrapper .project-button {
    margin-bottom: 15px;
    width: 100%;
  }
}
