header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px calc((100vw - 1200px) / 2);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

header .logo {
  height: 80px;
  display: flex;
  align-items: center;
}

header .navigation {
  display: inline-block;
}

header .navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .navigation ul li {
  transition: 0.5s ease-in-out;
}

header .navigation ul li:hover {
  transform: translateY(-5px);
}

header .navigation ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: clamp(12px, 1.25vw, 18px);
  line-height: 22px;
  padding: 0.25rem 1rem;
  color: #212121;
}

header .navigation ul li a.active {
  font-size: clamp(14px, 1.25vw, 22px);
}

header .hamburger-btn {
  display: none;
}

@media (max-width: 1250px) {
  header {
    padding: 0 25px;
  }
}
@media (max-width: 768px) {
  header .navigation {
    display: none;
  }
  header .hamburger-btn {
    display: block;
  }
}
