.bar {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 calc((100vw - 1300px) / 2);
}

.bar .icon {
  width: 20px;
  height: 36px;
  position: relative;
  margin: 0 8px;
}

.bar .icon .capsule,
.bar .icon .dot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.bar .icon .capsule {
  top: 0;
}

.bar .icon .dot {
  top: 6px;
  animation: dot-move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes dot-move {
  0% {
    top: 6px;
    opacity: 1;
  }
  20% {
    top: 6px;
    opacity: 1;
  }

  60% {
    top: 18px;
    opacity: 0;
  }

  80% {
    top: 6px;
    opacity: 0;
  }
  100% {
    top: 6px;
    opacity: 1;
  }
}
